* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.5s ease;
    font-size: 50px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #dbdbdb;
    color: #000000;
    cursor: pointer;
}